@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(25, 190, 255);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}

header {
    text-align: center;
    margin: 30px;
}

main section {
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.568);
    padding: 25px;
    margin: auto;
    margin-bottom: 30px;
    width: 50vw;
    height: 50vh;
}

div {
    text-align: center;
    padding: 15px;
}

div#msg {
    color: black;
}

img {
    border-radius: 50%;
}

footer {
    text-align: center;
    font-style: italic;
}   

@media screen (300px and 500px) {
    
}